# 1. GENERAL & OS
.DS_Store
Thumbs.db
*.swp
*.pem

# IDEs
.idea/
.vscode/
.vs/
*.suo
*.user

# 2. FRONTEND (Next.js)
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js build
/.next/
/out/
/build
.vercel

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 3. BACKEND (.NET)
# Build results (QUAN TRỌNG)
**/[Bb]in/
**/[Oo]bj/

# 4. SECURITY & SECRETS
# Local env files
.env*.local
.env

# .NET Configs
**/appsettings.Development.json
**/appsettings.json
**/appsettings.Production.json

# Exceptions
!**/appsettings.Example.json
!.env.example